USE [master]
GO
/****** Object:  Database [HeladeriaDBCabrera]    Script Date: 7/10/2026 22:19:25 ******/
CREATE DATABASE [HeladeriaDBCabrera]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'HeladeriaDBCabrera', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\HeladeriaDBCabrera.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 10%)
 LOG ON 
( NAME = N'HeladeriaDBCabrera_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\HeladeriaDBCabrera_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [HeladeriaDBCabrera].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [HeladeriaDBCabrera]
GO
/****** Object:  Table [dbo].[Pedidos]    Script Date: 7/10/2026 22:19:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pedidos](
	[IdPedido] [int] IDENTITY(1,1) NOT NULL,
	[Cliente] [nvarchar](80) NOT NULL,
	[Tamanio] [nvarchar](10) NOT NULL,
	[PrecioTotal] [decimal](12, 2) NOT NULL,
	[Estado] [nvarchar](20) NOT NULL,
	[Fecha] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdPedido] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PedidosSabores]    Script Date: 7/10/2026 22:19:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PedidosSabores](
	[IdPedido] [int] NOT NULL,
	[IdSabor] [int] NOT NULL,
 CONSTRAINT [PK_PedidosSabores] PRIMARY KEY CLUSTERED 
(
	[IdPedido] ASC,
	[IdSabor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sabores]    Script Date: 7/10/2026 22:19:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sabores](
	[IdSabor] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](50) NOT NULL,
	[Disponible] [bit] NOT NULL,
 CONSTRAINT [PK_Sabores] PRIMARY KEY CLUSTERED 
(
	[IdSabor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Pedidos] ON 

INSERT [dbo].[Pedidos] ([IdPedido], [Cliente], [Tamanio], [PrecioTotal], [Estado], [Fecha]) VALUES (1, N'Griselda Pereyra', N'Kilo', CAST(30500.00 AS Decimal(12, 2)), N'Retirado', CAST(N'2026-09-28T16:52:51.010' AS DateTime))
INSERT [dbo].[Pedidos] ([IdPedido], [Cliente], [Tamanio], [PrecioTotal], [Estado], [Fecha]) VALUES (2, N'Fabián Torres', N'Medio', CAST(17800.00 AS Decimal(12, 2)), N'Retirado', CAST(N'2026-09-30T13:52:51.010' AS DateTime))
INSERT [dbo].[Pedidos] ([IdPedido], [Cliente], [Tamanio], [PrecioTotal], [Estado], [Fecha]) VALUES (3, N'Lucía Bengolea', N'Cuarto', CAST(9800.00 AS Decimal(12, 2)), N'Retirado', CAST(N'2026-09-30T16:12:51.010' AS DateTime))
SET IDENTITY_INSERT [dbo].[Pedidos] OFF
GO
INSERT [dbo].[PedidosSabores] ([IdPedido], [IdSabor]) VALUES (1, 1)
INSERT [dbo].[PedidosSabores] ([IdPedido], [IdSabor]) VALUES (1, 2)
INSERT [dbo].[PedidosSabores] ([IdPedido], [IdSabor]) VALUES (1, 5)
GO
SET IDENTITY_INSERT [dbo].[Sabores] ON 

INSERT [dbo].[Sabores] ([IdSabor], [Nombre], [Disponible]) VALUES (1, N'Dulce de leche granizado', 1)
INSERT [dbo].[Sabores] ([IdSabor], [Nombre], [Disponible]) VALUES (2, N'Chocolate con almendras', 1)
INSERT [dbo].[Sabores] ([IdSabor], [Nombre], [Disponible]) VALUES (3, N'Frutilla a la crema', 1)
SET IDENTITY_INSERT [dbo].[Sabores] OFF
GO
ALTER TABLE [dbo].[PedidosSabores]  WITH CHECK ADD  CONSTRAINT [FK_PedidosSabores_Pedidos] FOREIGN KEY([IdPedido])
REFERENCES [dbo].[Pedidos] ([IdPedido])
GO
ALTER TABLE [dbo].[PedidosSabores] CHECK CONSTRAINT [FK_PedidosSabores_Pedidos]
GO
ALTER TABLE [dbo].[PedidosSabores]  WITH CHECK ADD  CONSTRAINT [FK_PedidosSabores_PedidosSabores1] FOREIGN KEY([IdPedido], [IdSabor])
REFERENCES [dbo].[PedidosSabores] ([IdPedido], [IdSabor])
GO
ALTER TABLE [dbo].[PedidosSabores] CHECK CONSTRAINT [FK_PedidosSabores_PedidosSabores1]
GO
/****** Object:  StoredProcedure [dbo].[usp_AvanzarPedido]    Script Date: 7/10/2026 22:19:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create  PROCEDURE [dbo].[usp_AvanzarPedido]
    @IdPedido INT
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        DECLARE @Estado NVARCHAR(20);

        SELECT @Estado = Estado 
		FROM dbo.Pedidos 
		WHERE IdPedido = @IdPedido;

        IF @Estado IS NULL
        BEGIN
            THROW 50024, N'El pedido indicado no existe.', 1;
        END;

        IF @Estado = N'Retirado'
        BEGIN
            THROW 50025, N'El pedido ya fue retirado: no hay más pasos.', 1;
        END;

        UPDATE dbo.Pedidos
        SET Estado = CASE Estado
            WHEN N'Pendiente' THEN N'Listo'
            ELSE N'Retirado'
        END
        WHERE IdPedido = @IdPedido;
    END TRY
    BEGIN CATCH
        THROW;
    END CATCH;
END;
GO
/****** Object:  StoredProcedure [dbo].[usp_CrearPedido]    Script Date: 7/10/2026 22:19:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_CrearPedido]
    @Cliente NVARCHAR(80),
    @Tamanio NVARCHAR(10),
    @Sabores NVARCHAR(50),
    @IdPedido INT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY

        -- 1. Validaciones

        IF @Cliente IS NULL OR LTRIM(RTRIM(@Cliente)) = N''
        BEGIN
            THROW 50020, N'El nombre del cliente no puede estar vacío.', 1;
        END;

        IF @Tamanio NOT IN (N'Cuarto', N'Medio', N'Kilo')
        BEGIN
            THROW 50020, N'El tamaño debe ser Cuarto, Medio o Kilo.', 1;
        END;

        IF @Sabores IS NULL OR LTRIM(RTRIM(@Sabores)) = N''
        BEGIN
            THROW 50027, N'Debe seleccionar al menos un sabor.', 1;
        END;

        DECLARE @CantSabores INT;

        SELECT @CantSabores = COUNT(*)
        FROM STRING_SPLIT(@Sabores, N',');

        IF @CantSabores < 1 OR @CantSabores > 3
        BEGIN
            THROW 50027, N'El pedido debe tener entre 1 y 3 sabores.', 1;
        END;

        IF EXISTS (
            SELECT 1
            FROM STRING_SPLIT(@Sabores, N',') AS SS
            LEFT JOIN dbo.Sabores AS S
                ON S.IdSabor = TRY_CAST(SS.value AS INT)
            WHERE S.IdSabor IS NULL
               OR S.Disponible = 0
        )
        BEGIN
            THROW 50026, N'Algún sabor elegido no existe o no está disponible.', 1;
        END;

        -- 2. Calcular precio

        DECLARE @Precio DECIMAL(12, 2) =
            CASE @Tamanio
                WHEN N'Cuarto' THEN 9800.00
                WHEN N'Medio' THEN 17800.00
                WHEN N'Kilo' THEN 30500.00
            END;

        -- 3. Iniciar transacción

        BEGIN TRANSACTION;

        -- 4. Crear pedido

        INSERT INTO dbo.Pedidos
        (
            Cliente,
            Tamanio,
            PrecioTotal,
            Estado,
            Fecha
        )
        VALUES
        (
            LTRIM(RTRIM(@Cliente)),
            @Tamanio,
            @Precio,
            N'Pendiente',
            GETDATE()
        );

        SET @IdPedido = SCOPE_IDENTITY();

        -- 5. Guardar los sabores

        INSERT INTO dbo.PedidosSabores
        (
            IdPedido,
            IdSabor
        )
        SELECT DISTINCT
            @IdPedido,
            TRY_CAST(SS.value AS INT)
        FROM STRING_SPLIT(@Sabores, N',') AS SS;

        -- 6. Confirmar transacción

        COMMIT TRANSACTION;

    END TRY

    BEGIN CATCH

        IF @@TRANCOUNT > 0
        BEGIN
            ROLLBACK TRANSACTION;
        END;

        THROW;

    END CATCH;
END;
GO
/****** Object:  StoredProcedure [dbo].[usp_ListarPedidos]    Script Date: 7/10/2026 22:19:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create     PROCEDURE [dbo].[usp_ListarPedidos]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        P.IdPedido,
        P.Cliente,
        P.Tamanio,
        P.PrecioTotal,
        P.Estado,
        P.Fecha,
        STRING_AGG(S.Nombre, N', ') AS Sabores
    FROM dbo.Pedidos AS P
    INNER JOIN dbo.PedidosSabores AS PS ON PS.IdPedido = P.IdPedido
    INNER JOIN dbo.Sabores AS S ON S.IdSabor = PS.IdSabor
    GROUP BY P.IdPedido, P.Cliente, P.Tamanio, P.PrecioTotal, P.Estado, P.Fecha
    ORDER BY
        CASE P.Estado
            WHEN N'Pendiente' THEN 1
            WHEN N'Listo' THEN 2
            ELSE 3
        END ASC,
        P.Fecha DESC;
END;
GO
/****** Object:  StoredProcedure [dbo].[usp_ListarSabores]    Script Date: 7/10/2026 22:19:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[usp_ListarSabores]
as 
begin 
set nocount on;

select IdSabor,Nombre,Disponible
From Sabores
order by Nombre asc;
end;
GO
USE [master]
GO
